<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　ログアウト</h4>
<p>受付 ー 患者管理</p>
<p>-------------------------</p>
<p>-------------------------</p>

<form method="POST">
    {% csrf_token %}
        <h3>変更内容確認</h3>

        {{ patient.patid }}
        <h4>選択中の患者名</h4>
        {{ patient.patlname }} {{ patient.patfname }}

        <p>
            <label for="newhokenmei">変更する保険証情報</label>
            <input type="text" id="newhokenmei" name="newhokenmei" placeholder="変更する保険証情報">
            <label for="newhokenexp">再入力してください</label>
            <input type="text" id="newhokenexp" name="newhokenexp" placeholder="変更する有効期限">
            <br><h7>確定しますか？</h7>
            <input type="hidden" name="patid" value="{{ patient.patid }}">
            <button type="submit">`確定</button>
        </p>

</form>

</body>
</html>