<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　ログアウト</h4>
<p>受付 ー 従業員情報変更</p>
<p>-------------------------</p>
<p>-------------------------</p>

従業員ID
<br><input type="search" placeholder="従業員ID">
<br>現在のパスワード
<br><input type="password" placeholder="現在のパスワードを入力"><br>
<br>新しいパスワード
<br><input type="password" placeholder="変更後のパスワード">
<br>新パスワード確認
<br><input type="password" placeholder="変更後パスワード再入力">
<p><input type="submit" value="確定"></p>
</body>
</html>