<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　ログアウト</h4>
<p>受付 ー ホーム</p>
<p>-------------------------</p>
<p>-------------------------</p>

<nav>
    <ul>
        <li><a href="{% url 'employeeinfchg_list' %}">従業員情報変更</a></li>
        <li><a href="{% url 'patient_registration' %}">患者登録</a></li>
        <li><a href="{% url 'patient_list' %}">患者管理</a></li>
        <li><a href="{% url 'patient_expired' %}">患者検索</a></li>
    </ul>
</nav>

</body>
</html>