<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>ログイン中：　　ログアウト</h4>
<p>受付 ー 患者検索</p>
<p>-------------------------</p>
<p>-------------------------</p>

    <h3>保険証期限切れ患者一覧</h3>
    <div id="tableContainer"></div>

<form method="POST">
    <table border="1">
        {% csrf_token %}
        <tr>
            <th>患者ID</th>
            <th>姓</th>
            <th>名</th>
            <th>保険証情報</th>
            <th>有効期限</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.patid }}</td>
            <td>{{ patient.patlname }}</td>
            <td>{{ patient.patfname }}</td>
            <td>{{ patient.hokenmei }}</td>
            <td>{{ patient.hokenexp }}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="patid" value="{{ patient.patid }}">
</form>

</body>
</html>