<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　ログアウト</h4>
<p>受付 ー　患者登録</p>
<p>-------------------------</p>
<p>-------------------------</p>

<form method="POST">
    {% csrf_token %}
        <br><label for="patid">患者ID</label>
        <input type="text" id="patid" name="patid" placeholder="患者IDを入力">
        
        <br><label for="patlname">姓</label>
        <input type="text" id="patlname" name="patlname" placeholder="姓を入力">
        
        <br><label for="patfname">名</label>
        <input type="text" id="patfname" name="patfname" placeholder="名を入力">
        
        <br><label for="hokenmei">保険証記号番号</label>
        <input type="text" id="hokenmei" name="hokenmei" placeholder="保険証記号番号を入力">
        
        <br><label for="hokenexp">有効期限</label>
        <input type="date" id="hokenexp" name="hokenexp" placeholder="有効期限を入力">
        
        <p><input type="submit" value="登録"></p>
</form>

</body>
</html>