<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>ログイン中：　　ログアウト</h4>
<p>受付 ー 患者管理</p>
<p>-------------------------</p>
<p>-------------------------</p>

    <h3>患者一覧表</h3>
    <div id="tableContainer"></div>

    <table border="1">
    {% csrf_token %}
    <tr>
        <th>患者ID</th>
        <th>名</th>
        <th>姓</th>
        <th>保険証情報</th>
        <th>有効期限</th>
        <th></th>

    </tr>
    {% for patient in patients %}
        <tr>
            <td>{{ patient.patid }}</td>
            <td>{{ patient.patfname }}</td>
            <td>{{ patient.patlname }}</td>
            <td>{{ patient.hokenmei }}</td>
            <td>{{ patient.hokenexp }}</td>
            <td>
                <form method="post" action="{% url 'confirmation_pat' patient.patid %}">
                    {% csrf_token %}
                    <button type="submit">変更</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>


</body>
</html>