<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　ログアウト</h4>
<p>管理者 ー ホーム</p>
<p>-------------------------</p>
<p>-------------------------</p>
管理者メニュー
<br>-----------
<p>メインページ</p>
▶︎管理者
<br><a href="">従業員登録</a>
<br><a href="">仕入先一覧</a>
<br><a href="">レコード追加</a>
<br><a href="">従業員氏名変更</a>
<br><input type="submit" value="従業員登録">
<br><input type="submit" value="仕入先一覧">
<br><input type="submit" value="レコード追加">
<br><input type="submit" value="従業員氏名変更">
</body>
</html>