<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　ログアウト</h4>
<p>管理者 ー 従業員指名変更確認</p>
<p>-------------------------</p>
<p>-------------------------</p>

<form method="POST">
    {% csrf_token %}
        <h3>変更内容確認</h3>
        
        {{ employee.empid }}
        <h4>現在の従業員氏名</h4>
        {{ employee.emplname }} {{ employee.empfname }}
        
        <p>
            <label for="newemplname">変更後の姓</label>
            <input type="text" id="newemplname" name="newemplname" placeholder="変更後の姓を入力">
            <label for="newempfname">変更後の名</label>
            <input type="text" id="newempfname" name="newempfname" placeholder="変更後の名を入力">
            <br><h7>確定しますか？</h7>
            <input type="submit" value="確定">
        </p>
    
</form>

</body>
</html>