<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　ログアウト</h4>
<p>管理者 ー 従業員指名変更確認</p>
<p>-------------------------</p>
<p>-------------------------</p>

<form method="POST">
{% csrf_token %}
    <h4>変更内容確認</h4>
    <div id="tableContainer"></div>
    
    <table border="1">
        <tr>
            <th>現在の従業員氏名</th>
        </tr>
        {% for employee in Employees %}
            <tr>
                <td>{{ employee.emplname }}</td>
                <td>{{ employee.empfname }}</td>
            </tr>
        {% endfor %}
    </table>
    <input type 
</form>

</body>
</html>