<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　<a href="{% url 'logout' %}">ログアウト</a></h4>
<p>管理者 ー </p>
<p>-------------------------</p>
<p>-------------------------</p>

<p>[新規仕入先登録]</p>
    <form method="POST" action="{% url 'vendor_toroku' %}">
        {% csrf_token %}
        <br><label for="shiireid">仕入先ID</label>
        <input type="text" id="shiireid" name="shiireid" placeholder="仕入先IDを入力">
        <br><label for="shiiremei">仕入先名</label>
        <input type="text" id="shiiremei" name="shiiremei" placeholder="仕入先名を入力">
        <br><label for="shiireaddress">仕入先住所</label>
        <input type="text" id="shiireaddress" name="shiireaddress" placeholder="仕入先住所を入力">
        <br><label for="shiiretel">電話番号</label>
        <input type="tel" id="shiiretel" name="shiiretel" placeholder="電話番号を入力">
        <br><label for="shihonkin">資本金</label>
        <input type="text" id="shihonkin" name="shihonkin" placeholder="資本金を入力">
        <br><label for="nouki">納期</label>
        <input type="text" id="nouki" name="nouki" placeholder="納期を入力">
        <p><input type="submit" value="登録"></p>
    </form>

</body>
</html>