<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>ログイン中：　　<a href="{% url 'logout' %}">ログアウト</a></h4>
<p>医師 ー 薬投与指示</p>
<p>-------------------------</p>
<p>-------------------------</p>

{% csrf_token %}
<h3>薬剤投与選択</h3>
<div id="tableContainer"></div>

<h4>患者名　　{{ patient.patlname }}　{{ patient.patfname }}</h4>
<br>
<br>
<p>処方薬剤</p>

<!-- 追加可能な薬剤を表示するテーブル -->
<table border="1">
    {% csrf_token %}
    <tr>
        <th>薬剤名</th>
        <th>処方数</th>
        <th></th>
    </tr>
    <form method="POST" action="{% url 'add_drug' %}">
        {% csrf_token %}
        {% for medicine in medicines %}
            <tr>
                <td>{{ medicine.medicinename }}</td>
                <td>
                    <input type="number" name="quantity{{ forloop.counter }}" value="0" min="0">
                </td>
            </tr>
        {% endfor %}
        <input type="hidden" name="patid" value="{{ patient.patid }}">
        <button type="submit">追加</button>
    </form>
</table>
<a href="{% url 'patient_search' %}">患者一覧へ戻る</a>

</body>
</html>
