<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>ログイン中：　　<a href="{% url 'logout' %}">ログアウト</a></h4>
<p>医師 ー 患者検索</p>
<p>-------------------------</p>
<p>-------------------------</p>

<form method="post" action="{% url 'patient_search' %}">
    {% csrf_token %}
        <label for="patlname">🔍</label>
        <input type="text" id="patlname" name="patlname" placeholder="患者姓検索">
        <button type="submit">検索</button>
</form>
    <h3>患者一覧</h3>
    <div id="tableContainer"></div>

    <table border="1">
        {% csrf_token %}
        <tr>
            <th>患者ID</th>
            <th>姓</th>
            <th>名</th>
            <th>保険証情報</th>
            <th>有効期限</th>
            <th>薬剤情報</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.patid }}</td>
            <td>{{ patient.patlname }}</td>
            <td>{{ patient.patfname }}</td>
            <td>{{ patient.hokenmei }}</td>
            <td>{{ patient.hokenexp }}</td>
            <td>
                <form method="post" action="{% url 'drug_selection' %}">
                    {% csrf_token %}
                    <input type="hidden" name="patid" value="{{ patient.patid }}">
                    <button type="submit">選択</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>