<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>◉デリペミッサァ</h4>
<h4>ログイン</h4>
<p>ログイン</p>
<p>-------------------------</p>
<p>-------------------------</p>


<form method="POST">
    {% csrf_token %}
    <label for="empid">利用者ID</label>
    <br><input type="text" id="empid" name="empid" placeholder="利用者IDを入力"><br>

    <label for="emppasswd">パスワード</label>
    <br><input type="password" id="emppasswd" name="emppasswd" placeholder="パスワードを入力">
    
    <br><input type="checkbox" name="keep" value="login">ログイン状態を保持
    <p><input type="submit" value="ログイン"></p>
</form>
</body>
</html>