<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>◉デリペミッサァ</h4>
<h4>ログイン</h4>
<p>ログイン</p>
<p>-------------------------</p>
<p>-------------------------</p>

<form action="" method="" name=""></form>
利用者ID
<br><input type="text" placeholder="利用者IDを入力"><br>
パスワード
<br><input type="password" placeholder="パスワードを入力">
<br><input type="checkbox" name="keep" value="login">ログイン状態を保持
<p><input type="submit" value="ログイン"></p>
</body>
</html>