<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diripemiiser</title>
</head>
<body>
<h4>=◉デリペミッサァ</h4>
<h4>ログイン中：　　ログアウト</h4>
<p>受付 ー 患者登録</p>
<p>-------------------------</p>
<p>-------------------------</p>

患者ID
<br><input type="text" placeholder="患者IDを入力">
<br><input type="radio" name="gender" value="男"> 男
<input type="radio" name="gender" value="女"> 女
<br>患者名
<br><input type="text" placeholder="患者名を入力">
<br>保険証記号番号
<br><input type="text" placeholder="保険証記号番号を入力">
<p><input type="submit" value="登録"></p>


</body>
</html>